.workGrid {
    display: grid;
    grid-template-columns: auto auto;
    background-color: bisque;
    padding: 10px;
    border: 1px solid grey;
}

@media only screen and (max-width: 600px) {
    .workGrid {
        display:flex;
        flex-direction: column;
        grid-template-rows: 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "Project title 1"
        "Project title 2"
        ;
        background-color: bisque;
        padding: 10px;
        border: 1px solid grey;
    }
  }